/* Global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: yeneva;
    src: url("../ttf/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: nunito;
    src: url("../ttf/Nunito-VariableFont_wght.ttf");
}

/* Tag rules */
html {
    background: url('../img/background.jpg');
    background-size: cover;
}

a {
    color: rgb(243,196,255);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    transition: color 0.3s ease-in-out;
}

/* Custom rules */
/* Special rules */
.colorfulSeparator {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
}

.infoBox {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 50%;
    margin: auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px 15px 50px 5px;
    text-align: center;
    font-family: 'Nunito';
    font-size: 1.1em;
}

/* --- WRAPPERS --- */
.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.upperWrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 16fr;
    height: 100vh;
    text-align: center;
    font-family: 'nunito';
    color: white;
}

.bodyWrapper {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    color: whitesmoke;  
}

/* --- SnowFall logo --- */
.logo p {
    padding-top: 0.5em;
    font-size: 1.2em;
    letter-spacing: 0.25em;
}

/* --- Navigation bar --- */
.navBar {
    font-size: 0.9em;
    align-items: center;
}

.navBar nav{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 20em;
}

.navBar nav a {
    margin: auto;
}

.navBar nav a::after {
    content: '';
    display: block;
    border-bottom: 2px solid rgb(218, 110, 245);
    transform: scaleX(0);
    transform-origin: 100%;
    transition: transform 250ms ease-in-out;
}

.navBar nav a:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 100%;
}

.selected {
    color: rgb(193, 246, 255);
    font-weight: bolder;
}

/* --- ACCESSIBILITY --- */
.accessibility {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    padding: 0.5em;
}

/* --- SUB TO NEWSLETTER --- */
.formNewsletter {
    padding: 3em 0em;
    text-align: center;
    font-family: 'Nunito';
    border-radius: 15px 50px 15px 50px;
}

.formNewsletter input {
    padding: 3px;
    background: rgba(185, 185, 185, 0.8);
    border: 0px solid;
    border-radius: 45px;
}

.formNewsletter button {
    width: 10em;
    padding: 3px;
    border: 0px solid;
    border-radius: 45px;
    background:rgba(138, 76, 167, 0.6);
    color: whitesmoke;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.formNewsletter button:hover {
    background:rgba(178, 99, 214, 0.6);
}

/* --- LANG BLOBS --- */
.blob {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.blob div {
    height: 25%;
    margin-top: 2.2em;
    border-radius: 100px;
    font-family: 'Nunito';
    font-size: 1.1em;
}

.blob div p {
    transition: color 0.2s ease-in-out;
}

.blob div p:hover {
    color: rgb(0, 255, 242);   
}
